= form_for(@connection) do |f|
	- if @connection.errors.any?
		#error_explanation
			%h2
				= pluralize(@connection.errors.count, "error")
				prohibited this connection from being saved:
			%ul
				- @connection.errors.full_messages.each do |message|
					%li= message
	.field
		= f.label :db_name
		%br/
		= f.text_field :db_name
	.field
		= f.label :db_host
		%br/
		= f.text_field :db_host
	.field
		= f.label :db_username
		%br/
		= f.text_field :db_username
	.field
		= f.label :db_password
		%br/
		= f.text_field :db_password
	.actions
		= f.submit
